﻿.ButtonPadding
{
    margin: 2px 5px 2px 5px;
}
.Panel 
{
    margin-left:auto; margin-right:auto; -moz-border-radius: 15px;
                    border-radius: 15px;
}

.leftFloat
{
    float:left;
}
.rightFloat
{
    float:right;
}

.leftFloatLabel
{
    float:left;
    margin: 5px 5px 5px 5px;
}
.rightFloatLabel
{
    margin-right:10px;
}

.rightFloatLabelTop
{
    margin-right:10px;
    margin-top:10px;
}